[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pysimplegui = "*"
scipy = "*"
pydantic = "*"
pyinstrument = "*"
black = "*"

[dev-packages]
pytest = "*"
icecream = "*"
black = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
